<div class="container">
    <div class="vino"
    [class] = "wine.isOnSale? 'enVenda' : 'noDisponible'" >
        <img class="miniatura" src="{{'assets/img/' + wine.imageUrl}}" alt='{{wine.name}}'>
        <h2>{{wine.name}}</h2>
        <p class="preu">Price: {{wine.price}}</p>
        <div class="unitsContainer">
            <button 
            (click)="subtractQuantity()"
            [disabled]="wine.quantityInCart===0"
            >-</button>
            <p class="units" >{{wine.quantityInCart}}</p>
            <button (click)="addQuantity()">+</button>
        </div>   
    </div>
</div>
