<div class="container">
    <div class="vino"
    [ngClass] = 'wineClasses' >
        <img class="miniatura" src="{{'assets/img/' + wine.imageUrl}}" alt='{{wine.name}}'>
        <h2>{{wine.name}}</h2>
        <p class="preu">Price: {{wine.price}}</p>
        <div class="unitsContainer">
            <button 
            (click)="subtractQuantity()"
            *ngIf="wine.quantityInCart>0"
            >-</button>
            <select id="unitsCard" class="units" value="{{wine.quantityInCart}}" 
            [ngModel]="wine.quantityInCart"
            (ngModelChange)="updateQuantityInCard($event)">
                <option 
                *ngFor="let i of serieNumerica">{{i + 1}}</option>
            </select>
            <!-- <p class="units" >{{wine.quantityInCart}}</p> -->
            <button (click)="addQuantity()">+</button>
        </div>   
    </div>
</div>
